/* General */
.button{
    background-color: #4E47FF;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: #252432;
}

/* adding fonts */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* Banner */
.banner-bg{
background-image: url('../assets/Hero-bg.png');
max-width: 1440px;
height: 698px;
justify-content: center;
}

.banner-title{
    font-weight: bold;
    font-size: 64px;
    color: #252432;
    text-align: center;
    margin-left: 267.5px;
    margin-right: 267.5px;
}

.banner-button{
    font-size: 16px;
    font-weight: bold;
    padding: 12px, 36px;
    border-radius: 10px;
    width: 174px;
    height: 48px;
    border: none;
    margin-left: 633px;
    margin-right: 633px;
}

/* NAV */
.nav{
    display: flex;
    gap: 909px;
    justify-content: center;
    /* align-items: center;   */
}

.nav-logo-style{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.nav-button{
    font-size: 16px;
    font-weight: bold;
    padding: 12px, 36px;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px; 
}

/* Action Section */
.action-general{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
    margin-left: 141px;
    margin-right: 159px;
    max-width: 1140px;
}
.action-items{
    max-width: 517px;
    max-height: 203px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}

.action-subtitle{
    font-weight: 400;
    font-size: 24px;
    color: #252432;
    opacity: 0.5;
    margin-bottom: 23px;
    width: 517px;
    height: 60px;
}

.action-button{
    font-size: 16px;
    font-weight: bold;
    padding: 12px, 36px;
    border-radius: 10px;
    width: 229px;
    height: 48px;
    border: none;
}

.action-img{
    border-radius: 48px;
    max-width: 403px;
    max-height: 328px;
}


/* Productive Users Section */
.productive-user-general{
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    height: 306px;
    justify-content: center;
    align-content: center;
    border-radius: 24px;
    margin-left: 141px;
    margin-right: 159px;
}

.productive-user-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.dashboard{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.blocks h2{
font-weight: bold;
font-size: 80px;
color: #4E47FF;
text-align: center;
margin: 0px;
padding: 0px, 9px, 24px, 9px;
}

.blocks p{
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0px;
    padding: 97px, 30px, 0px, 30px;
}


/* Let’s Get In Touch Section */

.contact-general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin-left: 141px;
    margin-right: 159px;
    margin-top: 92.23px;
}

.contact-title{
    font-weight: bold;
    font-size: 97px;
    color: #000000;
    text-align: left;
}

.contact-button{
    font-size: 16px;
    font-weight: bold;
    padding: 12px, 36px;
    border-radius: 10px;
    width: 497px;
    height: 62px;
    border: none;
}

.form-style-general{
    display: flex;
    flex-direction: column;
    max-width: 497px;
    max-height: 490px;
}

form label{
    font-weight: 500;
    font-size: 18;
    color: #000000;
    margin-bottom: 10px;
}

input::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

textarea::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.input-text-box{
    /* width: 497px;
    height: 70px; */
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 19px;
}


/* Footer Section */
footer{
    max-width: 531px;
    margin-top: 104px;
    margin-right: 455px;
    margin-bottom: 103px;
    margin-left: 454px;
}
footer div{
    font-weight: 900;
    font-size: 100px;
    color: #4E47FF;
    text-align: center;
    max-width: 531px;
    margin-top: 0px;
    margin-right: 120px;
    margin-bottom: 8px;
    margin-left: 120px;
    
}

footer p{
    color: rgba(137, 135, 161, 1);
    font-size: 16px;
    text-align: center;
    max-width: 531px;
}

footer ul li{
    list-style: none;
    text-align: center;
}

footer ul li a{
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: rgba(137, 135, 161, 1);
}

footer ul{
    display: flex;
    justify-content: space-around;
    max-width: 531px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 65px;
    margin-right: 65px;
}

/* Users’ Feedback Section */

.feedback-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    max-width: 1140px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 151px;
    margin-right: 149px;
}

.reviews{
    margin-top: 0px;
    margin-left: 141px;
    margin-right: 159px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    max-width: 1140px;
}

.review-card{
    padding: 24px;
    width: 366.67px;
    height: 243px;
}

.star-rating{
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;
}

.review-text{
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;
}

.reviews-title{
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    color: rgba(30, 30, 30, 1);
    margin-top: 0px;
    margin-bottom: 8px;
    max-width: 221px;
}

.reviews-subtitle{
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    color: rgba(30, 30, 30, 1);
    margin-top: 0px;
    max-width: 318.67px;
}

.profile{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    max-height: 46px;
}

.name_date{
    margin-bottom: 24px;
}
.name_date h6{
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    margin-bottom: 2px;
}

.name_date p{
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    color: rgba(179, 179, 179, 1);
    margin-top: 0px;
}

